:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
}
h1,
h2,
h3,
p {
  color: white;
}
h1 {
  font-family: var(--heading-font-family);
}

h2,
p {
  font-family: var(--default-font-family);
}

.prof-pic-thumbnail {
  max-width: 40px;
  border-radius: 50%;
}
.prof-pic-thumbnail:hover {
  transform: scale(5) translate(15px, 50%);
}
.menu-title {
  text-decoration: none;
}
.menu-title:hover {
  font-size: 1.5rem;
}
.menu-link {
  text-decoration: none;
}
.menu-link:hover {
  text-decoration: underline;
}
.menu-icon:hover {
  transform: scale(1.5);
}
